html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 /* END OF CSS RESET */


$offWhite: #fffafa;
$offBlack: #2B2B2B;
$green: #2E8B57	;


// css for general elements

body {
	font-size: 16px;
	width:100%;
}
h1 {
	font-size: 4rem;
	text-shadow: -1px 2px 2px rgba(0,0,0,0.6);

}
h2{
	font-size: 3rem;
	text-shadow: -1px 2px 2px rgba(0,0,0,0.6);

}
h3{
	font-size: 2rem;
	text-shadow: -1px 2px 2px rgba(0,0,0,0.6);

}
button {
	background-color: $green;
	color: $offWhite;
	width: 10rem;
	font-size: 1rem;
	padding: 10px 5px 10px 5px;
	border-radius: 10%;
	border: 1px solid black;
	text-shadow: -1px 2px 2px rgba(0,0,0,0.6);

}


header{
	 	height: 95vh;
		position: relative;
		width: 100%;
	.background {
		position: absolute;
		object-fit: cover;
		height: 95vh;
		width: 100%;
		z-index: -1;
	}
	 nav {
		 position: absolute;
		 display: inline-grid;
		 grid-template-columns: 1fr 1fr;
		 grid-template-rows: 1fr ;
		 height: 5rem;
		 width: 100%;
		 color: $offWhite;
		 background-color: $offBlack;
		 opacity: 60%;
		.logo {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		margin-left: 12%;
		&__icon {
			font-size: 3rem;
			}
		}
		.navLinks {
			display: inline-flex;
 		 flex-direction: row;
		 justify-content: space-around;
		 align-items: center;
		 &__li {
			a {
				font-size: 1.3rem;
				color: $offWhite;
				text-decoration: none;
			}
		 }
		}
	 }
	 .jumbo {
		 position: relative;
			height: 90vh;
			width: 100%;
		 &__textBox {
			 position: relative;
			 display: flex;
			 text-align: center;
			 flex-direction: column;
			 align-content: center;
			 align-items: center;
			 justify-content: center;
			 color: $offWhite;
			 height: 90vh;
			.item {
				align-self: center;
			}
			&__button {
				margin-top: 1rem;
			}
		 }
	 }
 }

 .imgMenu {
	 width: 100%;
	 height: 100%;
	 display: flex;
	 flex-direction: column;
	 justify-content: space-evenly;
	 align-items: center;
	 margin-top: 10rem;
	 margin-bottom: 10rem;
	 &__amenities {
			height: 30rem;
			width: 20rem;
			margin-bottom: 3rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		&__h3 {
			border: .3rem solid $offWhite;
			padding: 15px;
			z-index:2;
			color: $offWhite;
		}
	 }
	 &__amenities__1 {
		 background-image: url("https://images.unsplash.com/photo-1514726531247-d011ab572f65?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80");
		 background-repeat: no-repeat;
		 background-position: center;

	 }
	 &__amenities__2 {
		 background-image: url("https://images.unsplash.com/photo-1566975994395-1b96ae93ca79?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
		 background-repeat: no-repeat;
		 background-position: center;

	 }
	 &__amenities__3 {
		 background-image: url("https://images.unsplash.com/photo-1517954185624-da5cca47f7c0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80");
		 background-repeat: no-repeat;
		 background-position: center;
	 }
	}

.description{
	 height: 95vh;
	 position: relative;
	 width: 100%;
	 display: flex;
	 justify-content: center;
	 &__img{
		 position: absolute;
		 object-fit: cover;
		 height: 95vh;
		 width: 100%;
		 z-index: -1;
	 }
	 &__textBox {
		 position: relative;
		 display: flex;
		 flex-direction: column;
		 align-content: center;
		 align-items: center;
		 justify-content: center;
		 color: $offWhite;
		 height: 95vh;
		 width: 70%;
		&__h2 {
		padding-bottom: 20px;
		}
		&__p {
			font-size: 1.5rem;
			line-height: 1.3;
		}
	 }
 }

 .benefits {
 	 height: 95vh;
 	 position: relative;
 	 width: 100%;
 	 display: flex;
 	 justify-content: center;
 	 &__img{
 		 position: absolute;
 		 object-fit: cover;
 		 height: 95vh;
 		 width: 100%;
 		 z-index: -1;
		 opacity: 0.5;
 	 }
	 &__textBox {
		 position: relative;
		 display: flex;
		 flex-direction: column;
		 align-content: center;
		 align-items: center;
		 justify-content: center;
		 color: $offWhite;
		 height: 95vh;
		 width: 50%;
		 &__h2 {
			 text-align: center;
			 color: $offBlack;
		 }
	 	 &__list {

	 		&__li {
				color: $offBlack;
				text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.57);
				padding-top: 25px;
	 			font-size: 1.5rem;
	 			line-height: 1.3;
				text-align: center;
	 		}
	 	 }
	 }
  }

.contact {
	height: 100%;
	position: relative;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	background-color: $green;
	&__map {
		height: auto;
		&__img {
			width: 100%;
			height: auto;
		}

	}
	&__info{
		position: relative;
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		justify-content: center;
		color: $offWhite;
		height: 100%;
		width: 100%;
		&__h3 {
			color: $offWhite;
		}
		&__li {
			color: $offWhite;
			text-shadow: -1px 2px 2px rgba(0,0,0,0.6);
			padding-top: 25px;
			font-size: 1.5rem;
			line-height: 1.3;
			text-align: center;
		}
	}
}

footer {
	padding-top: 3rem;
	padding-bottom: .5rem;
	background-color: $offBlack;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: $offWhite;
	height: 100%;
	.logos {
		padding-bottom: 3rem;
		font-size: 2rem;
		&__link {
			text-decoration: none;
			color: $green;
			padding-right: 1rem;
		}
	}
	.copyright {
		font-size: .8rem;
	}
}


/* For desktop: */
@media only screen and (min-width: 1108px) {

	.imgMenu {
		 width: 100%;
		height: auto;
		 display: flex;
		 flex-direction: row;
		 align-items: center;
		 justify-content: center;
		 margin-top: 10rem;
		 margin-bottom: 10rem;
		 &__amenities {
			 width: 50%;
		 	height: 30rem;
			margin: 3%;
			display: flex;
	 	 justify-content: center;
		 align-items: center;
			&__h3 {
				width: auto;
				height: auto;
				border: .3rem solid $offWhite;
				padding: 15px;
				z-index:2;
				color: $offWhite;
			}
		 }
		 &__amenities__1 {
			 background-image: url("https://images.unsplash.com/photo-1514726531247-d011ab572f65?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80");
			 background-repeat: no-repeat;
			 background-position: center;

		 }
		 &__amenities__2 {
			 background-image: url("https://images.unsplash.com/photo-1566975994395-1b96ae93ca79?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
			 background-repeat: no-repeat;
				background-position: center;
		 }
		 &__amenities__3 {
			 background-image: url("https://images.unsplash.com/photo-1517954185624-da5cca47f7c0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80");
			 background-repeat: no-repeat;
			 background-position: center;
		 }
	 }

	 .contact {
		// background-color: red;
 		height: 60vh;
 		position: relative;
 		width: 100%;
 		display: inline-grid;
 		grid-template-columns: 1fr 1fr;
 		&__map {
 			&__img {
 				width: 100%;
 				height: 60vh;
				object-fit: cover;
    		object-position: top;
 			}
 		}
 		&__info{
 			position: relative;
 			display: flex;
 			flex-direction: column;
 			align-content: center;
 			align-items: center;
 			justify-content: center;
 			color: $offWhite;
 			height: 60vh;
 			width: 100%;
 			&__h3 {
 				color: $offWhite;
 			}
 			&__li {
 				color: $offWhite;
 				text-shadow: -1px 2px 2px rgba(0,0,0,0.6);
 				padding-top: 25px;
 				font-size: 1.5rem;
 				line-height: 1.3;
 				text-align: center;
 			}
 		}
 	}

}
